<ion-header>
  <ion-toolbar>
    <toolbar titulo="Confirmação e Pagamento"></toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        INFORMAÇÕES DO PACIENTE
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="nome"></ion-input>
      </ion-label>
      <ion-label>
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
      </ion-label>
      <ion-label>
        <ion-input type="tel" placeholder="Telefone" [(ngModel)]="telefone" maxlength="11"></ion-input>
      </ion-label>
      <ion-label>
        <ion-input type="text" placeholder="Endereço" [(ngModel)]="endereco"></ion-input>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        INFORMAÇÕES DE PAGAMENTO
    </ion-card-header>
    <ion-card-content>
      <ion-label>Forma de Pagamento</ion-label>
        <ion-select cancelText="Cancelar" okText="Selecionar" [(ngModel)]="pagamento">
            <ion-select-option disabled selected>Selecione...</ion-select-option>
            <ion-select-option value="Dinheiro">Dinheiro</ion-select-option>
            <ion-select-option value="Cartão de Crédito/Débito">Cartão de Crédito/Débito</ion-select-option>
        </ion-select>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" expand="block" (click)="confirmarAgendamento()">
      <ion-icon name="create"></ion-icon> Confirmar Agendamento
  </ion-button>  
  <ion-label *ngIf="valido == false" color="danger">
      <br />
      <h2><strong>
              <ion-icon name="alert"></ion-icon> Por favor, preencha todos os campos corretamente.
          </strong></h2>
  </ion-label>
</ion-content>