<ion-header>
  <ion-toolbar>
      <toolbar titulo="Escolher Profissional"></toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Selecione o profissional que executará o serviço: </ion-label>
          </ion-list-header>
          <ion-card *ngFor="let profissional of listaProfissionais" (click)="escolherProfissional(profissional)">
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-card-header>
                  <ion-card-title>
                    <h2>{{profissional.nome}}</h2>
                  </ion-card-title>
                  <ion-card-subtitle>
                     <h3>CREFITO {{profissional.crefito}}/SP</h3>
                  </ion-card-subtitle>
                </ion-card-header>
            </ion-item>
          </ion-card>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
