<ion-header>
  <ion-toolbar>
    <toolbar titulo="Escolher Data"></toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Selecione a data para o seu agendamento: </ion-label>
        <ion-datetime [(ngModel)]="diaAgd" displayFormat="DD/MM/YYYY" min="{{dataAtualAgendamento}}" max="{{dataMaximaAgendamento}}"
          value="{{dataAtualAgendamento}}"  cancelText="Cancelar" doneText="OK"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Selecione o horário para o seu agendamento: </ion-label>
        <ion-datetime [(ngModel)]="horaAgd" displayFormat="HH:mm" min="09:00" max="18:00" value="09:00" cancelText="Cancelar" doneText="OK"></ion-datetime>
      </ion-item>
      <ion-label color="medium">
        <h6>Você pode agendar sua sessão para até 30 dias a partir da data de hoje!</h6>
      </ion-label>
    </ion-card-content>
    <ion-button color="success" (click)="escolherDataHora()">
      Confirmar Data e Hora
    </ion-button>
  </ion-card>

</ion-content>