<ion-title class="toolbar">
    <ion-item-group>
      <ion-item>  
        <ion-avatar slot="start">
          <img src="{{userPhoto}}" alt="Foto do Usuário">
        </ion-avatar>
        <ion-label>
          <h2><strong>{{userName}}</strong></h2>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="logout()">
            <ion-icon slot="start" name="exit"></ion-icon>
            Sair
        </ion-button>
      </ion-item>
      <ion-item>
      <h1>{{titulo}}</h1>
      </ion-item>
    </ion-item-group>
</ion-title>
