<ion-header>
  <ion-toolbar>
    <ion-title>
      MassoNat - Massoterapias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header color="medium">
      <h1>Bem-vindo! Por favor, faça o seu login: </h1>
    </ion-card-header>
    <ion-card-content>
      <div class="container-login">
          <ion-button (click)="loginFacebook()" expand="block">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            Entrar
          </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
<ion-toolbar>
    <ion-title>Tópicos Especiais I - Atividade Avaliativa</ion-title>
    <h6>GU300063X - Jorge Augusto Toledo Zarpão</h6>
    <h6>GU3000265 - Thiago Santos Menezes</h6>
  </ion-toolbar>
</ion-footer>
