<ion-header>
  <ion-toolbar>
    <toolbar titulo="Escolher Serviço"></toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Selecione o serviço desejado abaixo: </ion-label>
        </ion-list-header>
        <ion-card *ngFor="let servico of listaServicos" (click)="escolherServico(servico)">
            <ion-item>
              <ion-icon name="body" slot="start"></ion-icon>
              <ion-card-header>
                <ion-card-title>
                  <h2>{{servico.nome}}</h2>
                </ion-card-title>
                <ion-card-subtitle>
                   <h3>R$ {{servico.valor}}</h3>
                </ion-card-subtitle>
              </ion-card-header>
          </ion-item>
        </ion-card>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
